[Desktop Entry]
Name=Telegram
Comment=Telegram messaging app
GenericName=Telegram
Exec=telegram-latest.telegram %U
Icon=${SNAP}/meta/gui/icon.png
Type=Application
StartupNotify=true
StartupWMClass=Telegram
Categories=Network;
MimeType=x-scheme-handler/tg;
